.block3 {
    box-sizing: content-box;/*width and height включают в себя только контент*/
    width: 200px;
    height: 300px;/*если не указана то считается как avto и вычесляется как
    высота контента, и для block4 нельзя будет указать в %*/
}